__pycache__/
*.py[cod]
node_modules/
/.venv/
/.pytest_cache/
/.ruff_cache/
/console/.output/
/console/dist/
/console/file-routes.d.ts

# Generated protobuf code
/gen/
/sdk/src/lutra/_gen/
/console/src/proto/
